# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/release-artifacts
CodexMonitor.zip
.codex-worktrees/
.codexmonitor-logs/
ilass-private/
.codexmonitor-artifacts/
src-tauri/gen/
codex-monitor-01.png
codex-monitor-IST.png
screen_random_32342.png
